.nav{
   flex-direction: row;
   align-content: center;
   margin-left: 15vw;
   display:grid;
   align-items: auto;
   grid-template-columns: repeat(5, 1fr);
   

}

.active {
   text-underline: underline;
   color: black;
}